extends ../layout

block content
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
  script(src='/javascripts/script.js')

  div#transbox
      img#logo(src="http://i.imgur.com/iHV3MQo.png")

      div.search
        h1    #{title}
        h2#good #{message}

        
        div.search1
            input#location-input(type="text", placeholder="Enter a State", name="shit") 
            p 
            p
            input#script(type="submit" value="Search Trails")
            p
            p
            label  
        div.search2
          form(action="/results" method="post")
            input#script(type="submit" value="see instagram photos")
        div.search3
          form(action="/results2" method="post")
            input#script(type="submit" value="see directions")
        
    div#transbox    
        div#search_title
        div#trail_api_result
        
    div#transbox
        div#search_title_photo
        div#trail_api_result_photo
        


        
    
      
      
      
      
        


  
