extends ../layout

block content
  div#transbox
    div.search
      h1    #{title}
      h2#good #{message}

      

      div.search1
        form(action="/results" method="post")
          input(type="text", placeholder="Enter a State", name="location-input")
          p 
          p
          input#button(type="submit" value="Search Trails")
          p
          p
          label  


  
